<% if current_user.has_role? :superadmin or current_user.has_role? :god %>

  <div class="admins">

    <br>
    <%= render partial: 'admins/search', locals: { q: @query } %>

    <table>
      <thead>
        <tr>
          <th><h1 class="page-header" align="center">Search results for:<br> "<%= @query %>"</h1></th>
        </tr>
      </thead>
      <tbody>
        <% @admins.each do |admin| %>
        <tr>
          <td><%= link_to image_tag(admin.avatar.small_thumb.url, class: 'side-pic'), admin_path(admin)  %> &nbsp; <%= link_to admin.name, admin_path(admin) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div><!--. admins -->

<% else %>

  <h1 class="page-header" align="center">You are not authorized</h1>

<% end %>
