<h3>
  <%= comment.commenter %>:<br><%= comment.body %>
</h3>
 
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
