<h3 class="comment-lefty">
  <%= comment.commenter %>
</h3>

<p class="comment-lefty">
  <%= comment.body %>
</p>

<p class="comment-lefty">
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
