<h3 class="comments"><%= comment.commenter %></h3>

<p class="comments-lefty"><%= comment.body %></p>

<% if can? :manage, Comment %>
  <p class="comments-lefty">
    <%= link_to 'Delete', [comment.article, comment], class: 'btn btn-danger',
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
