<h3 class="commenter"><%= link_to comment.article.user.name, comment.article.user %></h3>
<p class="commented"><%= comment.created_at.strftime('%b %-d, %Y, %l:%M %p, %Z') %></p>

<div class="comments-lefty">
  <%= raw(comment.body) %>
</div>

<% if current_user.has_role? :superadmin or current_user.has_role? :god %>
  <p class="comments-lefty">
    <%= link_to 'Delete', [comment.article, comment], class: 'btn btn-danger',
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
