<h3 class="comments"><%= comment.commenter %></h3>

<p class="comments-lefty"><%= comment.body %></p>

<% if can? :manage, Article %>
  <p class="comment-lefty">
    <%= link_to 'Destroy Comment', [comment.article, comment], class: 'btn btn-default',
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
