<div class="articles">
  <h1>Edit <%= @article.title %></h1>
  <h1>Created <%= @article.created_at.strftime("%B %-d, %Y") %></h1>
  <h2 class="articles-show-updated-sub-header">Updated <%= @article.updated_at.strftime("%B %-d, %Y") if @article.updated_at.present? %></h2>

  <%= render 'form' %>
</div>
