<div class="articles">
  <% if can? :create, Article %>
    <h1 class="page-header" align="center">New Article</h1>
    <%= render 'form' %>
  <% else %>
    <h1 class="page-header" align="center">You are not authorized</h1>
  <% end %>
</div><!--. articles -->
