<div class="articles">

  <br>
  <%= render partial: 'articles/search', locals: { q: @query } %>

  <table>
    <thead>
      <tr>
        <th><h1 class="page-header" align="center">Search results for:<br> "<%= @query %>"</h1></th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
      <tr>
        <td><%= link_to image_tag(article.poster.small_thumb.url, class: 'side-pic'), article_path(article)  %> &nbsp; <%= link_to article.title, article_path(article) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div><!--. articles -->
