<div class="articles">

  <br>
  <%= render partial: 'articles/search', locals: { q: @query } %>

  <table>
    <thead>
      <tr>
        <th><h1 class="page-header" align="center">Search results for:<br> "<%= @query %>"</h1></th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, article_path(article) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div><!--. articles -->

<div class="morph-button morph-button-sidebar morph-button-fixed">
  <button type="button"><span class="icon icon-cog">Settings Menu</span></button>
  <div class="morph-content">
    <div>
      <div class="content-style-sidebar">
        <span class="icon icon-close">Close the overlay</span>
        <h2>Style Maker</h2>
        <ul>
          <li><%= link_to 'RGBA', colors_path, class: 'icon icon-camera' %></li>
          <li><a class="icon icon-server" href="#">Storage Use</a></li>
          <li><a class="icon icon-heart" href="#">Favorites</a></li>
          <li><a class="icon icon-zoom-in" href="#">Readability</a></li>
          <li><a class="icon icon-microphone" href="#">Speech</a></li>
          <li><a class="icon icon-cloud" href="#">Uploads</a></li>
          <li><a class="icon icon-user" href="#">Profile</a></li>
          <li><a class="icon icon-briefcase" href="#">Documents</a></li>
          <li><a class="icon icon-globe" href="#">Global Options</a></li>
        </ul>
      </div>
    </div>
  </div>
</div><!-- morph-button -->
<script>
(function() {
  var docElem = window.document.documentElement, didScroll, scrollPosition;

  // trick to prevent scrolling when opening/closing button
  function noScrollFn() {
    window.scrollTo( scrollPosition ? scrollPosition.x : 0, scrollPosition ? scrollPosition.y : 0 );
  }

  function noScroll() {
    window.removeEventListener( 'scroll', scrollHandler );
    window.addEventListener( 'scroll', noScrollFn );
  }

  function scrollFn() {
    window.addEventListener( 'scroll', scrollHandler );
  }

  function canScroll() {
    window.removeEventListener( 'scroll', noScrollFn );
    scrollFn();
  }

  function scrollHandler() {
    if( !didScroll ) {
      didScroll = true;
      setTimeout( function() { scrollPage(); }, 60 );
    }
  };

  function scrollPage() {
    scrollPosition = { x : window.pageXOffset || docElem.scrollLeft, y : window.pageYOffset || docElem.scrollTop };
    didScroll = false;
  };

  scrollFn();

  var el = document.querySelector( '.morph-button' );

  new UIMorphingButton( el, {
    closeEl : '.icon-close',
    onBeforeOpen : function() {
      // don't allow to scroll
      noScroll();
    },
    onAfterOpen : function() {
      // can scroll again
      canScroll();
      // add class "noscroll" to body
      classie.addClass( document.body, 'noscroll' );
      // add scroll class to main el
      classie.addClass( el, 'scroll' );
    },
    onBeforeClose : function() {
      // remove class "noscroll" to body
      classie.removeClass( document.body, 'noscroll' );
      // remove scroll class from main el
      classie.removeClass( el, 'scroll' );
      // don't allow to scroll
      noScroll();
    },
    onAfterClose : function() {
      // can scroll again
      canScroll();
    }
  } );
})();
</script>
