<% if current_user.has_role? :god %>

  <div class="admins">
    <h1 class="page-header">New Super Admin</h1>

    <%= render partial: 'superadmins/form', locals: { action: superadmins_path } %>
  </div><!--. admins -->

<% else %>

  <h1 class="page-header" align="center">You are not authorized</h1>

<% end %>
