<% if can? :manage, :all %>

  <div class="admins">
    <h1 class="page-header" align="center">Edit <%= @user.name %></h1>

    <%= render partial: 'users/form', locals: { action: user_path(@user) } %>
  </div><!--. admins -->

<% else %>
  <h1 class="page-header" align="center">You are not authorized</h1>
<% end %>
