<h1 class="welcome-headline"><%= link_to 'Enter Here', controller: 'articles' %></h1>
<br>
<%= link_to (image_tag 'trek.gif', class:'welcome-pic-1'), controller: 'articles' %>
<br>
<iframe title="YouTube video player" src="https://www.youtube.com/embed/a2ClgGJayTs?rel=0" class='welcome-vid-1' frameborder="0" allowfullscreen></iframe>
