// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admins {
  text-align: center;
}

.admins-index-table-headlines, .admins-index-table-headlines a {
  font-family: 'chewy';
  font-size: 30px;
  color: rgb(77, 87, 97);
}
