// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Content
----------------------------------------------------------------------------- */

.articles {
  text-align: center;
}

.articles-index-nothing-yet-pic-1 {
  width: 240px;
  height: 160px;
  margin-top: 60px;
  opacity: 0.9;
  transform: rotate(0deg) scale(1) skew(-144deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1) skew(-150deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1) skew(-150deg) translate(0px);
  -o-transform: rotate(0deg) scale(1) skew(-150deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1) skew(-150deg) translate(0px);
  -webkit-filter: hue-rotate(150deg);
  -moz-filter: hue-rotate(150deg);
  filter: hue-rotate(150deg);
}

.articles-index-nothing-yet-pic-2 {
  width: 240px;
  height: 160px;
  margin-top: 60px;
  opacity: 0.9;
  transform: rotate(0deg) scale(1) skew(147deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1) skew(150deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1) skew(150deg) translate(0px);
  -o-transform: rotate(0deg) scale(1) skew(150deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1) skew(150deg) translate(0px);
  margin-left: 120px;
  -webkit-filter: hue-rotate(240deg);
  -moz-filter: hue-rotate(240deg);
  filter: hue-rotate(240deg);
}

.articles-index-nothing-yet-pic-1:hover, .articles-index-nothing-yet-pic-1 a:hover, .articles-index-nothing-yet-pic-2:hover, .articles-index-nothing-yet-pic-2 a:hover {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
}

.side-pic {
  opacity: 1.0;
  background: none;
  -webkit-filter: hue-rotate(1deg);
  -moz-filter: hue-rotate(1deg);
  filter: hue-rotate(1deg);
}

.side-pic:hover {
  background: none;
  -webkit-filter: hue-rotate(195deg);
  -moz-filter: hue-rotate(195deg);
  filter: hue-rotate(195deg);
  -webkit-animation: cssAnimation 4.3348s 1 ease;
  -moz-animation: cssAnimation 4.3348s 1 ease;
  -o-animation: cssAnimation 4.3348s 1 ease;
}
@-webkit-keyframes cssAnimation {
  from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to { -webkit-transform: rotate(350deg) scale(0.806) skew(-3deg) translate(-9px); }
}
@-moz-keyframes cssAnimation {
  from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to { -moz-transform: rotate(350deg) scale(0.806) skew(-3deg) translate(-9px); }
}
@-o-keyframes cssAnimation {
  from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to { -o-transform: rotate(350deg) scale(0.806) skew(-3deg) translate(-9px); }
}

.articles-index-table-headlines, .articles-index-table-headlines a {
  font-family: 'chewy';
  font-size: 30px;
  color: rgb(77, 87, 97);
}

.articles-new-sub-header {
  color: rgb(77, 87, 97);
  padding-top: 3px;
  padding-bottom: 6px;
}

.articles-edit-sub-header {
  color: rgb(77, 87, 97);
  padding-top: 3px;
  padding-bottom: 6px;
}

.articles-show-updated-sub-header {
  color: rgb(77, 87, 97);
  font-family: "lobster";
}

.articles-show-lefty {
	padding-left: 60px;
	padding-right: 60px;
  text-align: left;
  overflow: hidden;
}

.articles-show-lefty iframe {
  margin: 0 auto;
  width: 1080px;
  height: 600px;
  margin-bottom: 6px;
}

.articles-show-title {
  color: rgb(77, 87, 97);
	padding-left: 60px;
  text-align: left;
}

.articles-form-headers {
  color: rgb(77, 87, 97);
  font-family: "Lobster";
}

.spinner {
  color: #FFFF00;
  -webkit-animation: cssAnimation 4.3348s 1 ease;
  -moz-animation: cssAnimation 4.3348s 1 ease;
  -o-animation: cssAnimation 4.3348s 1 ease;
}
@-webkit-keyframes cssAnimation {
  from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to { -webkit-transform: rotate(350deg) scale(0.806) skew(-3deg) translate(-9px); }
}
@-moz-keyframes cssAnimation {
  from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to { -moz-transform: rotate(350deg) scale(0.806) skew(-3deg) translate(-9px); }
}
@-o-keyframes cssAnimation {
  from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to { -o-transform: rotate(350deg) scale(0.806) skew(-3deg) translate(-9px); }

}
