// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Content
----------------------------------------------------------------------------- */

.articles-index-nothing-yet-pic {
  width: 340px;
  height: 240px;
  margin-top: 60px;
  opacity: 0.7;
}

.articles-index-nothing-yet-pic:hover, .articles-index-nothing-yet-pic a:hover {
  width: 340px;
  height: 240px;
  margin-top: 60px;
  opacity: 0.7;
  background: none;
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  filter: sepia(100%);
}

.articles-index-header {
  margin-bottom: 24px;
}

.articles-index-table-headlines {
  color: rgb(77, 87, 97);
}

.articles-new-sub-header {
  color: rgb(77, 87, 97);
  padding-top: 3px;
  padding-bottom: 6px;
}

.articles-edit-sub-header {
  color: rgb(77, 87, 97);
  padding-top: 3px;
  padding-bottom: 6px;
}

.articles-show-updated-sub-header {
  color: rgb(77, 87, 97);
  font-family: "lobster";
  padding-top: 3px;
  padding-bottom: 6px;
}

.articles-show-lefty {
	padding-left: 60px;
	padding-right: 60px;
  text-align: left;
}

.articles-show-title {
  color: rgb(77, 87, 97);
	padding-left: 60px;
  text-align: left;
}

.articles-form-headers {
  color: rgb(77, 87, 97);
  font-family: "Lobster";
}
