// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Global
----------------------------------------------------------------------------- */

  html, body {
		background: #000;
		color: #fff;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
}

	h1, h2 {font-family: 'Lobster'; font-weight: 700; line-height: 24px; color: #fff;}
	h1 {font-size: 48px; margin-bottom: 36px;}
	h2 {font-size: 32px; margin-top: 24px; margin-bottom: 16px;}
	h3 {font-size: 24px; font-family: 'Philosopher'; font-weight: 700; line-height: 24px; color: #fff;}
	h4 {font-size: 18px; margin-bottom: 24px; color: gray;}

	p {font-size: 16px; margin-bottom: 10px; font-family: 'Philosopher';}

  .welcome-headline {
    margin-top: 30px;
}

  .welcome-pic-1 {
		width: 40%;
		height: 400px;
    background: blue;
    margin-top: 40px;
}

  .welcome-vid-1 {
		width: 80%;
		height: 500px;
    margin-top: 50px;
    margin-bottom: 20px;
}


/* Navigation
----------------------------------------------------------------------------- */

	a {
	  color: #FF6600;
	  font-weight:bold;
	  text-decoration:none;
	  padding: 3px;
}

  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, th a:hover, td a:hover, p a:hover, li a:hover {
	  background: #FF6600;
	  color: rgb(241,250,250);
	  cursor:pointer;
}


/* Tables
----------------------------------------------------------------------------- */

  table {
		padding-left: 200px;
    padding-right: 5%;
    // border: 1px solid white;
}

  th {
    width: 250px;
		padding-right: 5%;
		padding-bottom: 5%;
		font-size: 25px;
		font-family: 'Philosopher';
}

  td {
    width: 10%;
		padding-right: 5%;
		padding-bottom: 5%;
}

  .show-lefty {
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
}

  .comment-lefty {
    text-align: left;
    padding-left: 30%;
    padding-right: 30%;
}

  .index-lefty {
    text-align: left;
    width: 40%;
}


/* Forms
----------------------------------------------------------------------------- */

  textarea {
    -webkit-appearance: textarea;
    background-color: #fff;
    padding: 16px;
    width: 468px;
    height: 240px;
    font-size: 18px;
    color: #000;
    outline: none;
}

  input, input[type="password"], input[type="search"] {
    -webkit-appearance: textfield;
    background-color: #fff;
    padding: 16px;
    width: 468px;
    font-size: 18px;
    color: #000;
    outline: none;
}

  input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
    font-size: 18px;
	  background: #FF6600;
    color: #fff;
	  font-family:"Audiowide";
    text-decoration: none;
    cursor: pointer;
    border: none;
    width: 200px;
    outline: none;
    margin-bottom: 16px;
}
