// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Content
----------------------------------------------------------------------------- */

.comment {
  color: rgb(77, 87, 97);
  font-family: "Bangers";
}

.commenter {
  color: rgba(77, 87, 97, 0.7);
  padding-left: 180px;
  text-align: left;
  font-family: "Lobster";
}

.commented {
  color: rgba(77, 87, 97, 0.7);
  padding-left: 180px;
  text-align: left;
  font-family: "Lobster";
  font-size: 12px;
}

.comments {
  color: rgb(77, 87, 97);
  padding-left: 180px;
  text-align: left;
  font-family: "Bangers";
}

.comments-lefty {
  padding-left: 180px;
  padding-right:180px;
  text-align: left;
  overflow: hidden;
}

.comments-lefty p {
  font-size: 18px;
}

.comments-lefty iframe {
  margin: 0 auto;
  width: 840px;
  height: 480px;
  margin-bottom: 6px;
}

.comments-lefty h2 a:hover, .comments-lefty h3 a:hover, .comments-lefty h4 a:hover, .comments-lefty h5 a:hover, .comments-lefty h6 a:hover, .comments-lefty th a:hover, .comments-lefty td a:hover, .comments-lefty p a:hover, .comments-lefty li a:hover {
  background: rgba(0, 255, 0, 0.4);
  color: #FFFFFF;
  text-decoration:none;
  cursor:pointer;
}
