// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Global
----------------------------------------------------------------------------- */

// html {
//   background: rgba(7,7,7,0.9);
// }

body {
  background-image: url(/assets/brick.png);
  background-size: cover;
  color: #FFFFFF;
  font-family: "Nunito";
  line-height: 1.7;
}


/* Typography
----------------------------------------------------------------------------- */

h1, h2 { font-weight: 500; }
h1 { font-size: 48px; margin-bottom: 32px; }
h2 { font-size: 32px; margin-bottom: 24px; }
h3 { font-size: 24px; margin-bottom: 18px; }
h4 { font-size: 18px; margin-bottom: 15px; }
h5 { font-size: 15px; margin-bottom: 12px; }
h6 { font-size: 12px; margin-bottom: 12px; }

p { font-size: 18px; margin-bottom: 12px; }

a {
  color: rgba(0, 255, 0, 0.7);
  font-weight: bold;
  text-decoration: none;
  padding: 3px;
}

h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, th a:hover, td a:hover, p a:hover, li a:hover {
  background: rgba(0, 255, 0, 0.4);
  color: #FFFFFF;
  text-decoration:none;
  cursor:pointer;
}


/* Tables
----------------------------------------------------------------------------- */

table {
  margin: 0 auto;
  text-align: center;
  // border: 2px solid white;
}

th {
  padding-left: 60px;
  padding-right: 60px;
  font-family: 'Lobster';
  font-size: 30px;
  // border: 2px solid white;
}

td {
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 18px;
  // border: 2px solid white;
}


/* Forms (bootstrap)
----------------------------------------------------------------------------- */

textarea {
  -webkit-appearance: textarea;
  padding: 16px;
  width: 468px;
  height: 240px;
  font-size: 18px;
  font-weight: 500;
  border:none;
  outline:none;
  background-color: rgba(253,251,253,0.3);
  color: #FFFFFF;
  // -webkit-box-shadow: inset 2px 2px 2px 2px rgba(118, 47, 158, 0.2);
  // -moz-box-shadow: inset 2px 2px 2px 2px rgba(118, 47, 158, 0.2);
  // box-shadow: inset 2px 2px 2px 2px rgba(118, 47, 158, 0.2);
}

input, input[type="password"], input[type="search"] {
  -webkit-appearance: textfield;
  border:none;
  outline:none;
  width: 468px;
  padding: 16px;
  background-color: rgba(253,251,253,0.3);
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  // -webkit-box-shadow: inset 1px 1px 1px 1px rgba(118, 47, 158, 0.2);
  // -moz-box-shadow: inset 1px 1px 1px 1px rgba(118, 47, 158, 0.2);
  // box-shadow: inset 1px 1px 1px 1px rgba(118, 47, 158, 0.2);
}

.in-search {
  margin-top: 18px;
  margin-bottom: 36px;
}

input[type=submit] {
  width: 200px;
  background:-webkit-gradient(linear, 31% 53%, 84% 21%, from(#4B24A4), to(#39815E));
  border-color: rgba(7,7,7,0.9);
  color: rgb(237,251,251);
}

input[type=submit]:hover {
  width: 200px;
  background:-webkit-gradient(linear, 55% 60%, 33% 21%, from(#43222E), to(#1A81B6));
  border-color: rgba(7,7,7,0.9);
  color: rgb(237,251,251);
}

input[type=checkbox] {
  -webkit-appearance: checkbox;
  background-color: #FFFFFF;
  height: 12px;
  width: 12px;
}

.radio, .checkbox {
  min-height: 24px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 400px;
  width: 160px;
}


/* Buttons (Bootstrap)
----------------------------------------------------------------------------- */

.btn {
  border:solid 3px rgba(7,7,7,0.9);
  -moz-border-radius-topleft: 48px;
  -moz-border-radius-topright:49px;
  -moz-border-radius-bottomleft:48px;
  -moz-border-radius-bottomright:47px;
  -webkit-border-top-left-radius:48px;
  -webkit-border-top-right-radius:49px;
  -webkit-border-bottom-left-radius:48px;
  -webkit-border-bottom-right-radius:47px;
  border-top-left-radius:48px;
  border-top-right-radius:49px;
  border-bottom-left-radius:48px;
  border-bottom-right-radius:47px;
}

.btn-primary {
  background-color: rgba(48, 249, 185, 0.4);
  border-color: rgba(7,7,7,0.9);
}

.btn-primary:hover {
  background-color: rgba(48, 249, 185, 0.6);
  border-color: rgba(7,7,7,0.9);
}

.btn-success {
  background:-webkit-gradient(linear, 73% 60%, 33% 21%, from(#7A5E41), to(#264F1C));
  border-color: rgba(7,7,7,0.9);
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-success:hover {
  background:-webkit-gradient(linear, 35% 56%, 60% 50%, from(#D9B064), to(#684B6A));
  border-color: rgba(7,7,7,0.9);
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-danger {
  background:-webkit-gradient(linear, 38% 78%, 75% 54%, from(#D90B2C), to(#E3557A));
  border-color: rgba(7,7,7,0.9);
}

.btn-danger:hover {
  background:-webkit-gradient(linear, 38% 38%, 75% 54%, from(#D9472A), to(#E3B44F));
  border-color: rgba(7,7,7,0.9);
}

.btn-default {
  background:-webkit-gradient(linear, 38% 38%, 75% 89%, from(#476685), to(#1E3B70));
  border-color: rgba(7,7,7,0.9);
  color: #FFFFFF;
  font-weight: 700;
}

.btn-default:hover {
  background:-webkit-gradient(linear, 35% 56%, 60% 50%, from(#3F9774), to(#688DBA));
  border-color: rgba(7,7,7,0.9);
  color: #FFFFFF;
  font-weight: 700;
}


/* Alerts (Bootstrap)
----------------------------------------------------------------------------- */

.alerts-wrapper {
  margin: 0 auto;
}


/* Header (Bootstrap)
----------------------------------------------------------------------------- */

.container-fluid {
  background: rgba(77, 87, 97, 0.3);
  font-size: 16px;
}

.navbar .navbar-inverse, .navbar-fixed-top {
  width: 960px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
}

.dropdown {
  margin-right: 6px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #FFFFFF;
  margin-right: 16px;
  padding-top: 20px;
  height:60px;
  width: 120px;
}

.navbar-inverse .navbar-nav>li>a:hover {
  background: #FFFFFF;
  color: #000000;
}

.navbar-inverse .navbar-nav>.active>a {
  background: #FFFFFF;
  color: #000000;
}

.navbar-inverse .navbar-nav>.active>a:hover {
  background: #FFFFFF;
  color: #000000;
}


.page-header {
  border-bottom: 1px solid #FFFFFF;
}


/* Footer
----------------------------------------------------------------------------- */

.footer {
  text-align: center;
}

.footer p {
  width: 960px;
  margin: 0 auto;
  font-family: "Lobster";
  color: #FFFFFF;
  padding-top: 6px;
  padding-bottom: 12px;
}

.social {
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
}

/* Content
----------------------------------------------------------------------------- */

.nine-eighty {
  width: 960px;
  margin: 0 auto;
  background: rgba(7,7,7,0.9);
  padding-bottom: 30px;
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  // border: 3px solid white;
}

// .bubbles {
// }

.bubbles img {
  height:240px;
  width: 240px;
}

.bubbles ul.bubbles-list {
  list-style: none;
  overflow: hidden;
}

.bubbles ul.bubbles-list li {
  float: left;
  padding: 12px 12px 12px 12px;
  /*
  border-top: 2px dashed #FFFFFF;
  border-left: 2px dashed #FFFFFF;
  */
}

.bubbles ul.bubbles-list li:nth-child(1),
.bubbles ul.bubbles-list li:nth-child(2),
.bubbles ul.bubbles-list li:nth-child(3) {
  border-top: none;
}

.bubbles ul.bubbles-list li:nth-child(1),
.bubbles ul.bubbles-list li:nth-child(4) {
  border-left: none;
}

.bubbles a:hover {
  padding: 3px;
  background: none;
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  filter: sepia(100%);
}


.welcome-pic-1 {
  width: 340px;
  height: 240px;
  margin-top: 24px;
  opacity: 0.9;
  float: left;
  margin-right: 24px;
}

.welcome-pic-1:hover, .welcome-pic-1 a:hover {
  opacity: 1.0;
  background: none;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}

.welcome-vid-1 {
  width: 820px;
  height: 420px;
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 60px;
}
