<!DOCTYPE html>
<html>
<head>

  <title>Rails Getting Started Blog</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Philosopher|Audiowide|Lobster' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <meta name="viewport" content="width=980">

</head>
<body>

  <div class="wholepage">
    <%= yield %>
    <div class="social">
      <iframe src='http://www.facebook.com/plugins/like.php?href=https://www.facebook.com/monmouthcourier&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80' scrolling='no' frameborder='0' style='border:none; overflow:hidden; height:80px;' allowTransparency='true'></iframe>
      <g:plusone></g:plusone>
    </div><!-- social -->
  </div><!-- wholepage -->

</body>
</html>
